/* app css stylesheet */

.answer-container {
    margin-bottom: 3px;
    border: 2px solid transparent;
}

.wrong{
    border: 2px solid red;
    background-color: rgba(255,0,0,0.1)!important;
}

.ok{
    border: 2px solid green;
    background-color: rgba(0,255,0,0.1)!important;
}

.checkbox-container{
    width: 30px;
}

.answer{
    overflow: hidden;
}