/* app css stylesheet */

.answer-container {
    margin-bottom: 3px;
    border: 2px solid transparent;
}

.wrong{
    border-color: red;
    background-color: rgba(255,0,0,0.1)!important;
}

.ok{
    border-color: green;
    background-color: rgba(0,255,0,0.1)!important;
}

.unknown{
    border-color: blue;
    background-color: rgba(0,0,255,0.1)!important;
}

.answer{
    overflow: hidden;
}