/* app css stylesheet */

.answer-container {
    margin-bottom: 5px;
    border: 1px solid transparent;
}

.wrong{
    border: 1px solid red;
}

.ok{
    border: 1px solid green;
}

.checkbox-container{
    width: 30px;
}

.answer{
    overflow: hidden;
}